name: Upload Website

on:
  push:
    branches:
    - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - uses: jakejarvis/s3-sync-action@master
      with:
        args: --acl public-read --follow-symlinks --delete
      env:
        AWS_S3_BUCKET: ${{ secrets.azn-s3-bsw }}
        AWS_ACCESS_KEY_ID: ${{ secrets.AKIARSSRIIEH6ZEPF4XX }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.YaT0Kmrq7TE66/cYCL+W4c+jdQ7npQJ9Y8lnejyX }}
        AWS_REGION: 'ap-south-1'
